<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ config.title }}{{ " - " + item.name if item else "" }}</title>
        <link href="{{ config.baseUrl }}/static/main.css" rel="stylesheet"/>
        <link rel="icon" type="image/png" href="{{ config.baseUrl }}/static/favi.png">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>