{% extends "partials/base.njk" %}

{% block body %}
  <section class="posts">

    {% for item in items %}
      <article class="post">
        <h4 class="post-header">
          <a href="{{ config.baseUrl }}/posts/{{ item.slug }}">
            <span class="post-date">{{ item.date }}</span>{{ item.name }}</a>
        </h4>
        <p>{{ item.summary | md }}</p>
        <p>
          <a href="{{ config.baseUrl }}/posts/{{ item.slug }}">More</a>
          {% for tag in item.tags %}
            <span class="tag tag-{{ tag }}">
              <a href="{{ config.baseUrl }}/tags/{{ tag }}">{{ tag }}</a>
            </span>
          {% endfor %}
        </p>
      </article>
    {% else %}
      <p>No posts</p>
    {% endfor %}

    {% if items.length %}
      <ul class="pagination">
        <li class="{{ 'hide' if page === 1 else '' }}">
          <a href="{{ config.baseUrl }}/1" class="page-link" aria-label="First">
            <span>««</span>
          </a>
        </li>
        <li class="{{ 'hide' if page === 1 else '' }}">
          <a href="{{ config.baseUrl }}/{{ page - 1 }}" class="page-link" aria-label="Previous">
            <span>«</span>
          </a>
        </li>
        <li class="page-item">
          {{ page }}/{{ totalPages }}
        </li>
        <li class="{{ 'hide' if page !== totalPages and totalPages !== 1  else '' }}">
          <a href="{{ config.baseUrl }}/{{ page + 1 }}" class="page-link" aria-label="Next">
            <span>»</span>
          </a>
        </li>
        <li class="{{ 'hide' if page !== totalPages and totalPages !== 1  else '' }}">
          <a href="{{ config.baseUrl }}/{{ totalPages }}" class="page-link" aria-label="Last">
            <span>»»</span>
          </a>
        </li>
      </ul>
    {% endif %}
  </section>
{% endblock %}